# General API & Webhook Secrets
api_key:
api_addr:

# Select with -e cloud_provider=<aws|azure|gcp>
cloud_provider:

# VM credentials for the selected provider
vm_user: 
vm_password: 
vm_private_key: "{{ playbook_dir }}/../.ssh/id_rsa"


